.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #4caf50,
    #5db44e,
    #6db94d,
    #7cbe4b,
    #8bc34a
  );
}

.container {
  display: flex;
  align-items: center;
  background-image: url("../assets/gambarHidroponik.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}
form {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

form input {
  min-height: 2rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0);
  font-size: medium;
}
form input::placeholder {
  font-size: medium;
  color: #000;
}
form input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff;
}

.login a {
  background-color: #4caf50;
}
.login a:hover {
  color: #4caf50;
  background-color: #fff;
}

.container h1 {
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.content {
  font-family: "Anta", sans-serif;
  padding: 1rem;
  margin-left: 1rem;
  color: #fff;
}
