.box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  font-family: "Source Sans Pro", "Arial", sans-serif !important;
}

h3 {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.paramcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
}
.kotak {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  padding: 1rem;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  min-height: 15rem;
}
.on {
  width: 15px;
  height: 15px;
  background-color: green;
  border: 1px solid black;
  border-radius: 50%;
}
.off {
  width: 15px;
  height: 15px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: space-between;
}

.overrideButton {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.overrideButton span {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
