.box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.paramcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
}
.overrideButton {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.overrideButton span {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.kotak {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  min-height: 15rem;
}

h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.symbol {
  width: 10px;
  height: 10px;
  background-color: green;
  border: 1px solid greenyellow;
  border-radius: 50%;
}
.name {
  display: flex;
  justify-content: space-between;
}
