.navbar {
  position: static !important;
  color: black !important;
  background-color: #a7c957 !important;
  display: flex;
  justify-content: center;
  flex: 1;
  /* border-radius: 0 0 1rem 1rem; */
}

.navbar a {
  padding: 0;
  margin: 0 0.5rem;
  font-size: large;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: 600;
  color: black;
}

.navbar a:hover {
  color: #fff;
}
