.navbar {
  position: static !important;
  color: black !important;
  background-color: #a7c957 !important;
  display: flex;
  justify-content: center;
  flex: 1;
  /* border-radius: 0 0 1rem 1rem; */
}

.navbar button {
  padding: 0;
  margin: 0 0.5rem;
  font-size: large;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-weight: 600;
  color: black;
}

.navbar a:hover {
  color: #fff;
}

.MuiMenu-list li {
  color: black;
}

.logo a {
  font-family: "Anta", sans-serif;
  font-size: large;
  color: black;
}
.logo img {
  width: 1.5rem;
  margin-bottom: 0.9rem;
  margin-right: 5px;
}
