.system-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.system-container h1 {
  margin: 0;
}
.system-container a {
  align-self: flex-end;
  margin-bottom: 1rem;
}
.system-container button {
  background-color: #4caf50;
  color: white;
}

.system-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 1rem;
  color: black;
  border-radius: 1rem;
}
.button-box {
  display: flex;
  gap: 1rem;
}
.button-box a {
  margin-bottom: 0;
}

#title {
  color: white;
}
